* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}
form {
    padding: 5px;
    border-radius: 30%;
    box-shadow: rgb(70, 68, 68);
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;
}
input[type="text"],
textarea {
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #9e9d9d;
    font-size: 16px;
}
textarea{
    resize: none;
    height: 80px;
}
button {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: rgb(70, 128, 65);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
}